{
  "extends": "airbnb",
  "rules": {
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "semi": [2, "never"],
    "max-len": ["error", 120],
    "no-param-reassign": 0,
    "no-unused-vars": [1, { "vars": "local", "args": "none" }],
    "react/require-default-props": "off"
  }
}
