html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

[hidden],
template {
  display: none;
}

a {
  background-color: transparent;
}

a:active,
a:hover {
  outline-width: 0;
}

img {
  border-style: none;
}

figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block;
}

button,
input,
select,
textarea {
  font: inherit;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html [type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type='button']::-moz-focus-inner,
[type='reset']::-moz-focus-inner,
[type='submit']::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type='button']:-moz-focusring,
[type='reset']:-moz-focusring,
[type='submit']:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

textarea {
  overflow: auto;
  padding: 8px;
  display: block;
  border: none;
  border-bottom: 1px solid #ccc;
  width: 100%;
}

[type='checkbox'],
[type='radio'] {
  padding: 0;
}

[type='search'] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

html,
body {
  font-family: Verdana, sans-serif;
  font-size: 12px;
  line-height: 1.5;
}

html {
  overflow-x: hidden;
}

h1 {
  font-size: 29px;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 19px;
}

h4 {
  font-size: 16px;
}

h5 {
  font-size: 14px;
}

h6 {
  font-size: 13px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Segoe UI', Arial, sans-serif;
  font-weight: 400;
  margin: 10px 0;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(216, 216, 216, 0.75);
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid rgb(204, 204, 204);
  background: rgb(255, 255, 255);
  overflow: auto;
  border-radius: 4px;
  outline: none;
  padding: 20px;
  box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.24), 0 3px 12px 0 rgba(0, 0, 0, 0.12);
  width: 70%;
  min-width: 300px;
}

.image {
  max-width: 100%;
  height: auto;
}

img {
  margin-bottom: -5px;
}

a {
  color: inherit;
  text-decoration: none;
}

.input {
  padding: 8px;
  display: block;
  border: none;
  border-bottom: 1px solid #ccc;
  width: 100%;
}

.button {
  border: none;
  display: inline-block;
  outline: 0;
  padding: 8px 16px;
  vertical-align: middle;
  overflow: hidden;
  text-decoration: none;
  color: inherit;
  background-color: inherit;
  text-align: center;
  cursor: pointer;
  white-space: nowrap;
}

.button:hover {
  color: #000 !important;
  background-color: #ccc !important;
}

.page {
  display: inline-block;
  outline: 0;
  padding: 8px 16px;
  vertical-align: middle;
  overflow: hidden;
  text-decoration: none;
  color: inherit;
  background-color: inherit;
  cursor: pointer;
  white-space: nowrap;
  margin-bottom: 10px;
}

.page:hover {
  color: #000 !important;
  background-color: #ccc !important;
}

.select {
  height: 35px;
  display: block;
  border: none;
  border-bottom: 1px solid #ccc;
  width: 100%;
}

.addPost {
  background-color: black;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: block;
}

.icon {
  border: none;
  display: inline-block;
  outline: 0;
  vertical-align: middle;
  overflow: hidden;
  text-decoration: none;
  color: inherit;
  background-color: inherit;
  text-align: center;
  cursor: pointer;
  white-space: nowrap;
}

.container:after,
.container:before,
.row:after,
.row:before {
  content: '';
  display: table;
  clear: both;
}

.container {
  padding: 0.01em 16px;
}

.col {
  float: left;
  width: 100%;
}

.col.s2 {
  width: 16.66666%;
}

.col.s3 {
  width: 24.99999%;
}

.col.s5 {
  width: 41.66666%;
}

.col.s6 {
  width: 49.99999%;
}

.col.s10 {
  width: 83.33333%;
}

.col.s12 {
  width: 99.99999%;
}

@media (min-width: 601px) {
  .col.m2 {
    width: 16.66666%;
  }
  .col.m4{
    width: 33.33333%;
  }
  .col.m7 {
    width: 58.33333%;
  }
  .col.m8 {
    width: 66.66666%;
  }
  .col.m9 {
    width: 74.99999%;
  }
  .col.m10 {
    width: 83.33333%;
  }
  .col.m11 {
    width: 91.66666%;
  }
  .col.m12 {
    width: 99.99999%;
  }
}

@media (min-width: 993px) {
  .col.l1 {
    width: 8.33333%;
  }
  .col.l2 {
    width: 16.66666%;
  }
  .col.l3 {
    width: 24.99999%;
  }
  .col.l4 {
    width: 33.33333%;
  }
  .col.l5 {
    width: 41.66666%;
  }
  .col.l6 {
    width: 49.99999%;
  }
  .col.l7 {
    width: 58.33333%;
  }
  .col.l8 {
    width: 66.66666%;
  }
  .col.l9 {
    width: 74.99999%;
  }
  .col.l10 {
    width: 83.33333%;
  }
  .col.l11 {
    width: 91.66666%;
  }
  .col.l12 {
    width: 99.99999%;
  }
}

.content {
  max-width: 1400px;
  margin: auto;
}

.card {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.card-4 {
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 4px 20px 0 rgba(0, 0, 0, 0.19);
}

.margin {
  margin: 16px !important;
}
.margin-top {
  margin-top: 16px !important;
}
.margin-bottom {
  margin-bottom: 16px !important;
}
.margin-left {
  margin-left: 16px !important;
}
.margin-right {
  margin-right: 16px !important;
}

.white {
  color: #000 !important;
  background-color: #fff !important;
}

.badge,
.tag {
  background-color: #000;
  color: #fff;
  display: inline-block;
  padding-left: 8px;
  padding-right: 8px;
  text-align: center;
}

.badge {
  border-radius: 50%;
}

.ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.ul li {
  padding: 8px 16px;
  border-bottom: 1px solid #ddd;
}

.ul li:last-child {
  border-bottom: none;
}

.hoverable,
.ul.hoverable li:hover {
  background-color: #ccc;
}

.light-gray {
  color: #000 !important;
  background-color: #f1f1f1 !important;
}

.dark-gray {
  color: #fff !important;
  background-color: #616161 !important;
}

.small {
  font-size: 12px !important;
}

.large {
  font-size: 18px !important;
}

.padding {
  padding: 8px 16px !important;
}

.padding-16 {
  padding-top: 16px !important;
  padding-bottom: 16px !important;
}

.padding-32 {
  padding-top: 32px !important;
  padding-bottom: 32px !important;
}

.padding-large {
  padding: 12px 24px !important;
}

.center {
  text-align: center !important;
}

.opacity {
  opacity: 0.6;
}

.border {
  border: 1px solid #ccc !important;
}

@media (max-width: 600px) {

}

.left {
  float: left !important;
}

.right {
  float: right !important;
}

.left {
  float: left !important;
}

footer p a {
  margin: 0 3px 0 3px;
}